$brand-color: #054b75;
$brand-red: #ce3232;

body {
    margin-bottom: 100vh !important;
}

landing {
    display: block;

    .not-visible {
        visibility: hidden;
    }

    .text-red {
        color: $brand-red;
        font-weight: 600
    }

    .row.row-no-margin {
        margin: 0;
    }

    h1 {
        margin: 0;
        color: white;
        font-weight: 200;
        font-size: 24px;
    }

    .main-header {
        text-align: center;
        height: 6vh;
        background-color: #054b75;
        margin: 0;

        .brand {
            text-align: left;
        }

        .contact-information {
            font-size: 20px;
            font-weight: 200;
            color: white;
            padding-right: 15px;
            text-align: right;
        }
    }

    .landing-main-body {
        height: 86vh;
        // background-color: #0071b4;
        background: url('http://www.jesuschristformuslims.com/wp-content/uploads/2016/04/Giving-back.jpg');
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        padding: 30px;
        margin: 0;
    }

    .landing-nav-links-placeholder {
        height: 8vh;
        border-bottom: 1px solid transparent;
    }
    .landing-nav-links {
        height: 8vh;
        border-bottom: 1px solid #dadada;
        margin: 0;
        background-color: white;

        .brand {
            display: none;
        }

        &.pin-to-top {
            position: fixed;
            background-color: rgba(255, 255, 255, 0.93);
            top: 0;
            z-index: 1000;
            width: 100%;

            .brand {
                display: inline-block;
            }
        }
    }

    .section-banner {
        height: 10vh;
        background-color: $brand-color;
        text-align: center;

        .section-header {
            color: white;
            margin: 0;
            font-size: 28px;
            font-weight: 300;
        }
    }

    .pure-menu-item {
        font-size: 20px;
        margin: 0 5px;
        cursor: pointer;

        & .pure-menu-link {
            border-radius: 2px;
        }

        & .pure-menu-link:hover {
            background-color: #eee;
        }

        &.active .pure-menu-link {
            background-color: lighten($brand-color, 10) !important;
            border-radius: 2px;
            color: white;
            transition: .4s ease background-color;
            &:hover {
                background-color: $brand-color !important;
                transition: .4s ease background-color;
            }
            .pure-menu-link {
                color: white;
            }
        }

        &.limited-time .pure-menu-link {
            background-color: lighten($brand-red, 10) !important;
            border-radius: 2px;
            color: white;
            transition: .4s ease background-color;
            &:hover {
                transition: .4s ease background-color;
                background-color: $brand-red !important;
            }
            .pure-menu-link {
                color: white;
            }
        }
    }

    .feature {
        height: 70vh;
            background-color: white;
        .information {
            height: 70vh;
            width: 50%;
            text-align: center;
            .information-title {
                font-size: 32px;
                font-weight: 400;
                padding: 30px;
                padding-top: 28vh;
            }
            .information-detail {
                font-size: 20px;
                font-weight: 300;
                padding: 0 100px;
            }
        }
        .picture {
            height: 70vh;
            width: 50%;
        }
    }
    .feature-left {
        .information {
            float: left;
        }
        .picture {
            float: right;
        }
    }
    .feature-right {
        .information {
            float: right;
        }
        .picture {
            float: left;
        }
    }

    .increase-donations {
        .picture {
            background-image: url('https://images.unsplash.com/photo-1465711403138-162e171bb7e4?dpr=1&auto=format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb');
            background-size: cover;
        }
    }
    .mobile-apps {
        .picture {
            background-image: url('https://images.unsplash.com/photo-1469964117921-4b137ced3d4c?dpr=1&auto=format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb');
            background-size: cover;
        }
    }
    .free-kiosk {
        .picture {
            background-image: url('http://2.bp.blogspot.com/-2bLam6yUIxU/USaSEFsk-AI/AAAAAAAAAEI/MAoDHVLTf8Y/s1600/FBC+Cleve.jpeg');
            background-size: cover;
        }
    }

    .limited-time-offer {
        background-color: #454545;
        height: 100vh;
        padding-top: 10vh;
        text-align: center;
        box-shadow: 2px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);

        .limited-time-offer-title {
            margin: 0;
            font-size: 48px;
            font-weight: 200;
            color: white;
            display: inline-block;
            border-radius: 3px;
        }
        .limited-time-offer-description {
            font-size: 24px;
            color: white;
            font-weight: 200;
            margin: 0;

            a {
                text-decoration: none !important;
                color: lighten($brand-red, 6);
                font-weight: 400;
                transition: .4s color ease;
                &:hover {
                    transition: .4s color ease;
                    color: $brand-red;
                }
            }
        }
        .detail {
            text-align: left;
            padding: 15px;
        }

        .get-offer-container {
            padding-top: 20px;
            text-align: center;
        }

        .get-offer-btn {
            background-color: transparent;
            border: 2px solid $brand-red;
            border-radius: 3px;
            padding: 15px 25px;
            font-size: 24px;
            font-weight: 300;
            color: white;
        }
    }

    .contact-form-placeholder {
        height: 100vh;
    }
    .contact-form-parent {
        background-color: lighten($brand-color, 10);
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -10;
        height: 100vh;

        .contact-form-container {
            padding-top: 25vh;
        }

        h2 {
            font-size: 36px;
            color: white;
            font-weight: 300;
            margin: 0;
            margin-bottom: 20px;
        }

        
    }

    .landing-footer {
        margin: 0;
        padding: 30px;
        background-color: $brand-color;
        color: white;
    }
}