<main id="top">
    <header class="main-header row middle-xs">
        <div class="container">
            <div class="row middle-xs">
                <div class="brand col-xs">
                    <h1>Free Church Kiosk</h1>
                </div>
                <div class="contact-information col-xs">
                    1-866-933-7048
                </div>
            </div>
        </div>
    </header>
    <div class="landing-main-body row middle-xs">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                
            </div>   
            <div class="col-xs-12 col-sm-5">
                <contact-form class="middle-xs center-xs"></contact-form>
            </div>   
        </div>
    </div>
    <div ng-scroll-class="landing-nav-links-placeholder"></div>
    <div class="landing-nav-links row middle-xs center-xs"
        ng-scroll-class="pin-to-top">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item brand">
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="top">
                        Free Church Kiosk
                    </a>
                </li>
                <li class="pure-menu-item" >
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="increase-donations">
                        Features
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link"
                        scroll-to="mobile-apps">
                        Testimonials
                    </a>
                </li>
                <li class="pure-menu-item limited-time">
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="limited-time-offer">
                        Limited Time Offer
                    </a>
                </li>
                <li class="pure-menu-item active">
                    <a class="pure-menu-link"
                        href="#"
                        scroll-to="top"
                        ng-click="$ctrl.focusOnContactForm()">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Features -->
    <div class="feature feature-left increase-donations"
        id="increase-donations">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                Increase Donations
            </div>
            <div class="information-detail">
                Our system has been proven to increase donations by up to 30%!
            </div>
        </div>
        <div class="picture">
        </div>
    </div>
    <div class="feature feature-right mobile-apps"
        id="mobile-apps">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                Online and Mobile Giving
            </div>
            <div class="information-detail">
                The ease of access to our system is unbeatable.
            </div>
        </div>
        <div class="picture">
        </div>
    </div>
    <div class="feature feature-left free-kiosk">
        <div class="information" when-visible="$ctrl.fadeIn">
            <div class="information-title">
                Free iPad Kiosk
            </div>
            <div class="information-detail">
                When you use our system, we will give you an iPad kiosk with a credit card reader - free of charge!
            </div>
        </div>
        <div class="picture">
        </div>
    </div>
    <!-- Features -->

    <!-- Limited Time Offer -->
    <div class="contact limited-time-offer row center-xs middle-xs row-no-margin"
        id="limited-time-offer">
        <div class="container row">
            <div class="col-xs-6 detail"
                when-visible="$ctrl.fadeIn">
                <span class="text-red">LIMITED TIME OFFER</span>
                <h2 class="limited-time-offer-title">
                    Free iPad Kiosk
                </h2>
                <p class="limited-time-offer-description">
                    When you sign up for giving with our services. Act quickly before this offer expires.
                    <a href="#" scroll-to="contact">Contact us</a> to learn more.
                </p>
                <!-- <div class="text-right get-offer-container">
                    <button class="get-offer-btn">
                        GET THIS OFFER
                    </button>
                </div> -->
            </div>
            <div class="col-xs-6">
                <img ng-src="{{$ctrl.kioskImage}}">
            </div>
        </div>
    </div>
    <!-- Limited Time Offer -->
    <div id="contact"></div>
    <!-- Contact -->
    <div class="contact-form-parent">
    </div>
    <!-- Contact -->
</main>