<form class='contact-form'>
    <h2>Contact Us</h2>
    <div class="row center-xs ">
        <div class="form-input col-xs-12">
            <input class="form-control" placeholder="Name">
        </div>
        <div class="form-input col-xs-12">
            <input class="form-control" placeholder="Email">
        </div>
        <div class="form-input col-xs-12">
            <input class="form-control" placeholder="Church">
        </div>
        <div placeholder="Note" class="form-input col-xs-12">
            <textarea class="form-control" placeholder="Comments"/>
        </div>
    </div>
    <input class="form-submit" type="submit" value="Submit">
</form>