$brand-color: #054b75;
$brand-red: #ce3232;

contact-form {
	display: block;
	padding: 30px;
	background-color: rgba(0,0,0,0.5);
	.row {
		margin: 0;
	}

	h2 {
		color: white;
		font-size: 34px;
		font-weight: 300;
	}

	.form-control {
        color: white;
        width: 100%;
        border: 2px solid transparent;
        outline: none !important;
        padding: 10px 15px;
        font-size: 18px;
        // border-bottom: 5px solid rgba(232, 232, 232, 0.43);
        transition: .4s ease border-color;
        background-color: rgba(232, 232, 232, 0.43);

        &:focus {
            border-color: lighten($brand-color, 30);
            // border-color: #C7C7C7;
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  			color: white;
  		}
    }
    .form-input {
        margin-bottom: 20px;
        display: flex;
    }
    .form-submit {
        border: none;
        outline: none !important;
        padding: 15px 20px;
        font-size: 24px;
        background-color: $brand-color;
        min-width: 200px;
        font-weight: 300;
        color: white;
        transition: .4s ease background-color;
        &:hover {
            background-color: lighten($brand-color, 6);
        }
    }
}